<% content_for :title, "Editar actividad del usuario" %>

<h1 class="mb-4">Editar actividad del usuario</h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", user_activity: @user_activity %>
  </div>
</div>

<div class="d-flex justify-content-between">
  <%= link_to "Ver esta actividad", @user_activity, class: "btn btn-outline-primary" %>
  <%= link_to "Volver a la lista", user_activities_path, class: "btn btn-outline-secondary" %>
</div>
