<% content_for :title, "Registrar nueva actividad" %>

<h1 class="mb-4">Registrar nueva actividad</h1>

<div class="mb-4">
  <%= render "form", user_activity: @user_activity %>
</div>

<div>
  <%= link_to "Volver a actividades", user_activities_path, class: "btn btn-secondary" %>
</div>
