<% content_for :title, "Nuevo pago" %>

<div class="container">
  <h1 class="mb-4">Registrar nuevo pago</h1>

  <div class="mb-4">
    <%= render "form", payment: @payment %>
  </div>

  <%= link_to "Volver al listado de pagos", payments_path, class: "btn btn-secondary" %>
</div>
