<div id="<%= dom_id gym_location %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= gym_location.name %></h5>

    <p class="card-text">
      <strong>Dirección:</strong> <%= gym_location.address %><br>
      <strong>Ciudad:</strong> <%= gym_location.city.name %>
    </p>
  </div>
</div>
