<div id="<%= dom_id activity %>" class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><%= activity.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= activity.category %></h6>
    <p class="card-text"><%= activity.description %></p>
  </div>
</div>

