<div id="<%= dom_id activity %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= activity.name %></h5>
    <p class="card-text">
      <strong>Categoría:</strong> <%= activity.category %>
    </p>
  </div>
</div>
