<% content_for :title, "Nueva actividad" %>

<div class="container mt-4">
  <h1 class="mb-4">Nueva actividad</h1>

  <%= render "form", activity: @activity %>

  <div class="mt-3">
    <%= link_to "Volver a actividades", activities_path, class: "btn btn-secondary" %>
  </div>
</div>
